/* ----------------------------------------------------------------------------------------
Template: Turing - IT Solutions and Corporate Template
Version: 1.1.0
Author: tempload - support@tempload.com
 -----------------------------------------------------------------------------------------*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. welcome
06. features
07. team
08. pricing
09. blog
10. footer
11. pages
12. faq
13. aside
14. contact
15. preloader

--------------------------------------------- */


@import 'mixins';

@import 'theme-options-dark';

@import 'reset';

@import 'global';

@import 'header';

@import 'welcome';

@import 'features';

@import 'parallax';

@import 'team';

@import 'pricing';

@import 'blog';

@import 'footer';

@import 'pages';

@import 'faq';

@import 'aside';

@import 'contact';

@import 'preloader';